.poster {
	position: relative;
	max-width: 420px;
	max-height: 420px;
	margin: 21px auto;
	box-shadow: 0px 2px 2px #aaa;
	display: block;
	background: #E54545;
	color: #FFFFFF
}
.text {
	font-family: HelveticaNeueLTPro-Bd, sans-serif;
	font-style: normal;
	font-size: 52px;
	padding: 64px 21px 0;
	line-height: 60px;
}
.logo {
	height: 42px;
	width: 42px;
	position: absolute;
	top: 11px;
	right: 11px;
	background: url(logo_transparent_cropped.svg) center center no-repeat;
	background-size: cover;
}
input, button {
	display: block;
	margin: 21px auto;
	font-size: 1.4em;
}
input {
	width: 297px;
	padding: 2px;
	border: 2px solid#1D1621;
}
button {
	cursor: pointer;
}
.colors {
	width: 297px;
	text-align: center;
	margin: 21px auto;
}
.color {
	width: 42px;
	height: 42px;
	border: 2px solid#1D1621;
	margin: 4px;
	padding: 2px;
	font-family: Arial;
	color: #FFFFFF;
	text-align: center;
	line-height: 42px;
	display: inline-block;
	cursor: pointer;
	font-size: 13px;
	font-weight: 100;
}
